* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

.header{
  min-height: 100vh;
  display: flex;
  width: 100%;
  background-image: url(images/donuts_4_DD.webp);
  background-position: right;
  background-size: cover;

} 

nav{
  position: absolute;
  right: 0;
  padding: 2% 6%;
}

.nav-links{
  display:flex; 
  /* For reference, flex made the buttons go side by side - spent too long trying to figure that out (https://www.youtube.com/watch?v=oYRda7UtuhA&t=729s) */
  /* margin: 1px; */
}

.btn{
  margin:.25em;
  width: 150px;
  height: 50px;
  font-size: large;
  /* padding: 25px;  turns out this can mess your text alignment up and force you to spend 30 min trying to understand why your text won't center....*/ 
  cursor: pointer;
  border-radius: 15px;
}


.btn#home{
  background-color: lightslategray;
  

  
}

.btn#review{
  background-color: lightgreen;

}

.btn#ranking{
  background-color: lightpink;

}

.bodyTextBox{

  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  width: 1250px;
  height: 500px;
  border-radius: 50px;
  padding: 50px;
  background-image: url(images/donuts_1.jpg);

}

.index_text_donuts{
  color:black;
  border-radius: 3px;
}

.bodyTextBox{
  background-color:lightpink;
}

.indexBodyTextObject{
  /* background-position: right; */
  /* background-size: cover; */
  /* display: flex; */
  min-height: 25%;
  /* display: flex; */
  width: 25%;
}


/* if I were to use a logo --> img{} */